.nx/installation
.nx/cache
.nx/workspace-data
.nx/polygraph

vite.config.*.timestamp*
vitest.config.*.timestamp*

node_modules/
dist/
coverage/

pnpm-workspace.yaml

coverage/

apps/docs/static/examples/game/
apps/docs/content/docs/api/generated/
apps/docs/public/

apps/docs/static/examples/
