.nx/installation
.nx/cache
.nx/workspace-data
.nx/polygraph

vite.config.*.timestamp*
vitest.config.*.timestamp*

node_modules/
dist/
coverage/

pnpm-workspace.yaml

coverage/

apps/docs/static/examples/game/
apps/docs/static/docs/api/generated/
apps/docs/.astro/
apps/docs/public/
apps/docs/static/css/files/
apps/docs/static/css/fonts/
apps/docs/static/fonts/

apps/docs/static/examples/
